{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        
        <div id="header">
            <span class="logo">Bookmarks</span>
            {% if user.is_authenticated %}
                <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">My dashboard</a>
                 </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
                </ul>
            {% endif %}
            <span class="user">
                {% if user.is_authenticated %}
                    Hello {{ user.username }},
                    <a href="{% url "logout" %}">Logout</a>
                {% else %}
                    <a href="{% url "login" %}">Log-in</a>
                 {% endif %}
            </span>
        </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method){
            //thesse http methods do not require csrf protection
            return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforesend: function(xhr, settings){
                if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                    xhr.setRequestHeader("X-CSRFToken",csrftoken);
                }
            }
        });

        $(document).ready(function(){
            {% block domready %}
              
            {% endblock domready %}
        });
    </script>
</body>
</html>